{
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    // Best Practices
    "block-scoped-var": 1,
    "curly": [0, "multi"],
    "eqeqeq": [2, "allow-null"],
    "no-multi-spaces": 0,
    "no-self-compare": 1,
    // Strict Mode
    "strict": 1,
    // Variables
    "no-shadow": 1,
    "no-undefined": 1,
    "no-unused-vars": [2, {"vars": "all", "args": "none"}],
    "no-use-before-define": [2, "nofunc"],
    // Stylistic Issues
    "brace-style": [1, "stroustrup"],
    "comma-spacing": [1, {"before": false, "after": true}],
    "consistent-this": 1,
    "eol-last": 1,
    "key-spacing": 0,
    "new-cap": 1,
    "no-trailing-spaces": 0,
    "no-underscore-dangle": 0,
    "quotes": [1, "single"],
    "space-infix-ops": 0
  }
}
